@import url("https://fonts.googleapis.com/css2?family=Borel&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

@theme {
  --color-bg: #66a1ff;
  --color-bg-1: #6b61ff;
  --color-fg: #f0eff4;
  --color-muted: #737278;
  --color-accent: #fadda2;

  --font-sans: "Nunito", sans-serif;
  --font-borel: 'Borel', sans-serif;

  --text-icon: 26px;
  --spacing-nav: 4rem;
  --shadow-base: 0px 8px 0 var(--color-bg-1);
  --shadow-muted: 0px 5px 0 var(--color-bg-1);
}

body {
  @apply bg-bg text-fg font-sans font-bold selection:bg-muted selection:text-fg;
}
